In [17]:
import pandas as pd
from pprint import pprint

ARQUIVO_DADOS = 'dados_oceans_status.csv'

In [18]:
df_oceans = pd.read_csv(ARQUIVO_DADOS)
df_oceans.columns

Index(['tick', 'P_L', 'ano', 'margem_liq', 'divida_liq_EBITDA', 'liq_corrente',
       'liq_imediata', 'LPA', 'VPA', 'P_VP', 'P_EBIT', 'P_EBITDA', 'P_ativos',
       'margem_EBITDA', 'PSR', 'ROE', 'ROA', 'ROIC', 'EV_EBIT', 'EV_EBITDA',
       'DY', 'preco', 'margem_bruta', 'margem_EBIT', 'divida_liq_EBIT',
       'divida_liq_patrimonio', 'P_cap_giro', 'P_cirulante_liq',
       'patrimonio_ativos', 'passivos_ativos', 'giro_ativos', 'receitas_5anos',
       'lucros_5anos', 'liq_media_diaria'],
      dtype='object')

In [19]:
def somar_posicoes(df_rank, list_indicadores):
    linhas_posi = []
    for tick, linha in df_rank.iterrows():
        soma_posi = 0
        for i in range(1, len(linha), 1):
            soma_posi += linha[i]
        linhas_posi.append([tick, soma_posi])
    
    df_posi = pd.DataFrame(linhas_posi, columns=['tick', 'soma_posi'])
    df_posi.set_index('tick', inplace=True)
    return df_rank.join(df_posi).copy()

In [20]:
def calcular_ranking(df_completo, list_indicadores, ano):
    '''
    DataFrame - dados completos
    list_indicadores - [['TICKER', bool (O primeiro lugar Ã© o menor valor?)], [Ticker, bool], ...]
    '''
    df_rankings = df_completo[df_completo['ano'] == ano][['tick', 'ano']].copy()
    df_rankings.set_index('tick', inplace=True)

    for indicador, asc in list_indicadores:
        if(not indicador == 'liq_media_diaria'):
            df_indicador = df_completo[df_completo['ano'] == ano][['tick', indicador]].copy()
            df_indicador.set_index('tick', inplace=True)

            df_indicador['rank_'+indicador] = df_indicador[indicador].rank(ascending=asc, na_option='bottom')
            df_indicador.drop(indicador, axis=1, inplace=True)

            df_rankings = df_rankings.join(df_indicador)
    
    df_rankings = somar_posicoes(df_rankings, list_indicadores)
    return df_rankings.sort_values('soma_posi').copy()

In [21]:
df_oceans.columns

Index(['tick', 'P_L', 'ano', 'margem_liq', 'divida_liq_EBITDA', 'liq_corrente',
       'liq_imediata', 'LPA', 'VPA', 'P_VP', 'P_EBIT', 'P_EBITDA', 'P_ativos',
       'margem_EBITDA', 'PSR', 'ROE', 'ROA', 'ROIC', 'EV_EBIT', 'EV_EBITDA',
       'DY', 'preco', 'margem_bruta', 'margem_EBIT', 'divida_liq_EBIT',
       'divida_liq_patrimonio', 'P_cap_giro', 'P_cirulante_liq',
       'patrimonio_ativos', 'passivos_ativos', 'giro_ativos', 'receitas_5anos',
       'lucros_5anos', 'liq_media_diaria'],
      dtype='object')

In [22]:
def analisar_indicadores(lista_indicadores, ano):
    ''' A partir de uma lista de indicadores e um ano, retorna uma dataframe com o ranking de cada empresa
    recebe:
    dict - 'indicador': [min, max]
    int - ano

    retorna
    DataFrame - tabela com: tick, posicao geral, posicao normalizada, posicao no indicador 1, 2, 3, ..., n
    '''
    DICT_ASC = {
        'divida_liq_EBITDA': ['divida_liq_EBITDA', True],
        'DY': ['DY', False],
        'ROA': ['ROA', False],
        'ROE': ['ROE', False],
        'ROIC': ['ROIC', False],
        'P_L': ['P_L', True],
        'P_VP': ['P_VP', True],
        'LPA': ['LPA', False],
        'VPA': ['VPA', True],
        'PSR': ['PSR', False],
        'P_EBIT': ['P_EBIT', True],
        'P_EBITDA': ['P_EBITDA', True],
        'P_ativos': ['P_ativos', True],
        'P_cap_giro': ['P_cap_giro', False],
        'P_cirulante_liq': ['P_cirulante_liq', False],
        'margem_EBITDA': ['margem_EBITDA', False],
        'margem_EBIT': ['margem_EBIT', False],
        'margem_liq': ['margem_liq', False],
        'margem_bruta': ['margem_bruta', False],
        'EV_EBITDA': ['EV_EBITDA', True],
        'EV_EBIT': ['EV_EBIT', True],
        'liq_corrente': ['liq_corrente', False],
        'liq_imediata': ['liq_imediata', False],
        'receitas_5anos': ['receitas_5anos', False],
        'lucros_5anos': ['lucros_5anos', False],
        'divida_liq_EBIT': ['divida_liq_EBIT', False],
        'divida_liq_patrimonio': ['divida_liq_patrimonio', False],
        'patrimonio_ativos': ['patrimonio_ativos', False],
        'passivos_ativos': ['passivos_ativos', False],
        'giro_ativos': ['giro_ativos', False],
        'liq_media_diaria': ['liq_media_diaria', False]
    }

    lista_duplas = []
    for indicador in lista_indicadores:
        lista_duplas.append(DICT_ASC[indicador])
    
    #df_indicadores = pd.read_csv(ARQUIVO_DADOS)
    df_indicadores = filtrar_indicadores(lista_indicadores)
    
    df_final = calcular_ranking(df_indicadores, lista_duplas, ano)

    df_final['posi_normalizada'] = round((100*df_final['soma_posi'])/(len(df_final)*len(indicadores)),2)

    colunas_certas = list(df_final.columns)
    colunas_certas.remove('ano')
    colunas_certas.remove('soma_posi')
    colunas_certas.remove('posi_normalizada')
    colunas_certas = ['soma_posi', 'posi_normalizada'] + colunas_certas

    return df_final[colunas_certas].copy()

In [23]:
def analisar_anos_anteriores(indicadores, tamanho_carteira, ano_inicial):
    ''' Analisar a melhor carteira de tamanho (tamanho_carteira) ao longo dos ultimos anos
    Recebe:
    dict - 'indicador': [min, max]
    int - quantidade de ativos
    int - ano inicial

    Retorna:
    dict - 'ano': [ativo1, ativo2, ..., ativoN]
    '''
    ativos_por_ano = {}

    for ano in range(ano_inicial, 2021, 1):
        df_ano_atual = analisar_indicadores(indicadores, ano)
        df_ano_atual = df_ano_atual.head(10).copy()
        #melhores_empresas = list(df_ano_atual['tick'])
        melhores_empresas = list(df_ano_atual.index)
        ativos_por_ano[str(ano)] = melhores_empresas
    
    for ano in ativos_por_ano:
        ativos_por_ano[ano] = ativos_por_ano[ano] + ([''] * (tamanho_carteira - len(ativos_por_ano[ano])))
    
    return ativos_por_ano

In [24]:
def filtrar_indicadores(dict_indicadores):
    df_indicadores = pd.read_csv(ARQUIVO_DADOS)

    for indicador in dict_indicadores:
        minimo, maximo = dict_indicadores[indicador]
        df_indicadores = df_indicadores[(df_indicadores[indicador] >= minimo) & (df_indicadores[indicador] <= maximo)].copy()

    return df_indicadores.copy()

In [25]:
indicadores = {'P_L': [0, 20], 'liq_media_diaria': [1000000, 20000000]}
#indicadores = {'P_L': [1, 10], 'liq_corrente': [1,2.5]}
ano = 2020

In [26]:
df_filtrado = filtrar_indicadores(indicadores)
df_filtrado

        tick    P_L   ano  ...  receitas_5anos  lucros_5anos  liq_media_diaria
1857   VULC3   9.96  2020  ...            5.57          0.00        6022544.17
1861   SHUL4  10.24  2020  ...            7.65         12.44        2441440.87
1875   JPSA3   8.56  2020  ...            5.51          0.00       10537548.93
1878   ROMI3   9.04  2020  ...            3.37         76.10        2723393.53
1888   TRIS3  12.59  2020  ...           16.63         31.43       18807766.30
1890   PTBL3  12.00  2020  ...            3.26        -32.43        6176585.10
1906   LEVE3  11.50  2020  ...            1.60          5.40        9569506.60
1910   DIRR3  15.95  2020  ...           -4.50        -12.25       14111313.47
1922   GRND3  15.44  2020  ...           -1.50          0.40       15052171.20
1926   COCE5   8.99  2020  ...            8.25          9.99        2190700.73
1935   VLID3  19.65  2020  ...            9.15        -13.37       11332930.67
1947   WIZS3   8.18  2020  ...           19.97         21.33       11146933.30
1950  ALUP11   5.10  2020  ...           25.59         16.91       18324520.97
1951   CARD3  16.72  2020  ...            1.77         18.99        3153351.93
1953   FESA4   8.84  2020  ...            9.09         19.29        7726512.07
2000   CLSC4   5.76  2020  ...            4.99        -11.18        1085986.20
2001   RLOG3  18.58  2020  ...           50.58         42.36       11337721.73

[17 rows x 34 columns]

In [27]:
df_ano_selecionado = analisar_indicadores(indicadores, ano)
df_ano_selecionado.head(10)

        soma_posi  posi_normalizada  rank_P_L
tick
ALUP11        1.0              2.94       1.0
CLSC4         2.0              5.88       2.0
WIZS3         3.0              8.82       3.0
JPSA3         4.0             11.76       4.0
FESA4         5.0             14.71       5.0
COCE5         6.0             17.65       6.0
ROMI3         7.0             20.59       7.0
VULC3         8.0             23.53       8.0
SHUL4         9.0             26.47       9.0
LEVE3        10.0             29.41      10.0

In [28]:
ano_inicial = 2015
tamanho_carteira = 10
melhores_por_ano = analisar_anos_anteriores(indicadores, tamanho_carteira, ano_inicial)
#pprint(melhores_por_ano)
df_melhores_por_ano = pd.DataFrame(melhores_por_ano)
df_melhores_por_ano

  2015 2016 2017 2018 2019    2020
0                           ALUP11
1                            CLSC4
2                            WIZS3
3                            JPSA3
4                            FESA4
5                            COCE5
6                            ROMI3
7                            VULC3
8                            SHUL4
9                            LEVE3